.control-cell {
    -fx-padding: 0.1em 0.35em 0.4em 1.0em;
}

.isHeadlineRow,
.isHeadlineRow:filled,
.isHeadlineRow:filled:selected {
    -fx-background-color: derive(-fx-color, -2%);
    -fx-opacity: 0.5;
    -fx-text-fill: -fx-text-base-color;
    -fx-table-cell-border-color: transparent;
}

.isRootRow {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(to bottom,
    derive(-fx-color, -15%) 95%,
    derive(-fx-color, -25%) 100%
    ),
    -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-table-cell-border-color: transparent;
}

.isRootRow:focused {
    -fx-color: -fx-base;
}

.isRootRow:hover {
    -fx-color: -fx-hover-base;
}

.isRootRow:filled:selected > .tree-disclosure-node > .arrow,
.isRootRow:selected > .tree-disclosure-node > .arrow,
.isRootRow > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;
}

.isRootRow:filled:selected .text,
.isRootRow:selected .text,
.isRootRow:filled .text,
.isRootRow .text {
    -fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;
}

.combo-box .enum-desc-label {
    -fx-font-style: italic;
    -fx-opacity: 70%;
}

.combo-box > .list-cell > .enum-desc-label {
    -fx-text-fill: -fx-text-base-color;
}

.combo-box.has-null-value > .list-cell, .combo-box.has-default-value > .list-cell,
.combo-box.has-null-value > .list-cell > .enum-desc-label, .combo-box.has-default-value > .list-cell > .enum-desc-label,
.color-picker.has-null-value > .label, .color-picker.has-default-value > .label {
    -fx-text-fill: derive(-fx-control-inner-background, -45%);
}

.color-picker.has-null-value > .label {
    -fx-opacity: 0;
}

.spinner.has-default-value .text-input {
    -fx-text-fill: gray;
}

.text-field.has-default-value {
    -fx-text-fill: gray;
}

.type-with-children-status-control {
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.type-with-children-label {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field-label {
    -fx-text-fill: gray;
}

.tree-table-cell:focused {
   -fx-background-color: #0096c9;
}

.tree-table-view {
   -fx-background-color: transparent;
}

.tree-table-view:focused {
   -fx-background-color: transparent;
}
/**
 DATA REFERENCE FIELDS
 */
.data-reference-container {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}


/**
 TOOLTIPS
 */

.json-props-editor-tooltip .error-display {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-background-color: #FBEFEF;
    -fx-text-fill: #cc0033;
    -fx-border-color: #cc0033;
}

.json-props-editor-tooltip .warning-display {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-background-color: #FFFFCC;
    -fx-text-fill: #CC9900;
    -fx-border-color: #CC9900;
}

.json-props-editor-tooltip .info-display {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-background-color: #c4d0ef;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #a8c8ff;
}

.json-props-editor-tooltip .ok-display {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-background-color: #EBF4ED;
    -fx-text-fill: #007906;
    -fx-border-color: #007906;
}