.control-cell {
    -fx-padding: 0.1em 0.35em 0.4em 1.0em;
}

.isHeadlineRow,
.isHeadlineRow:filled,
.isHeadlineRow:filled:selected {
    -fx-background-color: derive(-fx-color, -2%);
    -fx-opacity: 0.5;
    -fx-text-fill: -fx-text-base-color;
    -fx-table-cell-border-color: transparent;
}

.isRootRow {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(to bottom,
    derive(-fx-color, -15%) 95%,
    derive(-fx-color, -25%) 100%
    ),
    -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-table-cell-border-color: transparent;
}

.isRootRow:focused {
    -fx-color: -fx-base;
}

.isRootRow:hover {
    -fx-color: -fx-hover-base;
}

.isRootRow:filled:selected > .tree-disclosure-node > .arrow,
.isRootRow:selected > .tree-disclosure-node > .arrow,
.isRootRow > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;
}

.isRootRow:filled:selected .text,
.isRootRow:selected .text,
.isRootRow:filled .text,
.isRootRow .text {
    -fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;
}

.combo-box.has-null-value > .list-cell, .combo-box.has-default-value > .list-cell,
.color-picker.has-null-value > .label, .color-picker.has-default-value > .label {
    -fx-text-fill: derive(-fx-control-inner-background, -45%);
}

.color-picker.has-null-value > .label {
    -fx-opacity: 0;
}

.spinner.has-default-value .text-input {
    -fx-text-fill: gray;
}

.text-field.has-default-value {
    -fx-text-fill: gray;
}

/*
 TOGGLE SWITCHES
 */
.toggle-switch .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    linear-gradient(to bottom, derive(#C62B0B, 30%), #C62B0B);
    -fx-background-insets: 0, 1;
}


.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    linear-gradient(to bottom, derive(#0b99c9, 30%), #0b99c9);
    -fx-background-insets: 0, 1;
}

.toggle-switch.has-null-value .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    #f5f5f5;
    -fx-background-insets: 0, 1;
}

.toggle-switch.has-default-value .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    linear-gradient(to bottom, derive(#CCA9A3, 30%), #CCA9A3);
    -fx-background-insets: 0, 1;
}

.toggle-switch.has-default-value:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    linear-gradient(to bottom, derive(#A3C4CE, 30%), #A3C4CE);
    -fx-background-insets: 0, 1;
}

.toggle-switch .label {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-text-fill: gray;
}
